body {
	font:normal normal 14px Arial,Helvetica,sans-serif;
	margin: auto;
	color:#3F1E04;
}
.clear {
	clear:both;
}
img.banner {
	width:720px;
}

#wrapper{
	width:940px;
	margin: 20px auto;

}

#mainAdmin h3{
	padding-left: 20px;
}

#footer a {
	color:#3F1E04;
}

th{
	text-align: left;
}