/* aDashboard */
.app-container{
	padding: 10px;
}

.clear{
	clear: both;
}

.accordion-group{}
	.accordion-heading{
		position: relative;
	}
		.accordion-heading .config{
			opacity: .1;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.accordion-heading:hover .config{
			opacity: .6;
		}
		.accordion-heading .config:hover{
			opacity: 1;
		}

.accordion-full{
	padding: 0;
}

.dataTables_wrapper{
	background-color: #F9F9F9;
}
.dataTables_wrapper:after,
.dataTables_wrapper:before {
	content: '';
	display: table;
}
.dataTables_wrapper:after {
	clear: both;
}
.dataTables_wrapper {
	zoom: 1;
}

#labelsTable{
	background-color: #fff;
	clear: both;
	margin-bottom: 0;
}
i.icon, #labelsTable_previous, #labelsTable_next{
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(../img/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
i.icon:last-child,
i.icon:last-child,
#labelsTable_previous:last-child,
#labelsTable_next:last-child {
	*margin-left: 0;
}

.table.table-separated{}
	.table.table-separated th, .table.table-separated td{
		border-right: 1px solid #ddd;
	}
	.table.table-separated th:last-child, .table.table-separated td:last-child{
		border-right: 0;
	}

.sorting, .sorting_asc, .sorting_desc{
	cursor: pointer;
}
	.sorting i.icon, .sorting_asc i.icon, .sorting_desc i.icon{
		float: right;
	}

.dataTables_length{
	color: #666;
	float: left;
	padding: 5px;
}
	.dataTables_length select{
		margin-bottom: 0;
		width: 50px;
	}
.dataTables_filter{
	color: #666;
	float: right;
	padding: 5px;
	text-align: right;
}
	.dataTables_filter input{
		margin-bottom: 0;
	}

.sorting{}
	.sorting i.icon{
		background-position: -433px -96px;
	}
.sorting_asc{}
	.sorting_asc i.icon{
		background-position: -288px -120px;
	}
.sorting_desc{}
	.sorting_desc i.icon{
		background-position: -313px -119px;
	}

.dataTables_info{
	color: #666;
	float: left;
	padding: 5px;
}
.dataTables_paginate{
	float: right;
	padding: 5px;
	text-align: right;
}

#labelsTable_previous, #labelsTable_next{
	cursor: pointer;
}
#labelsTable_previous{
	background-position: -432px -72px;
}
#labelsTable_next{
	background-position: -456px -72px;
}
[class^="paginate_disabled_"],
[class*="paginate_disabled_"]{
	cursor: default !important;
	opacity: .4;
}