/** ARX - aLabelManager
 * CSS File - /apps/aLabelManager/css/edit.css
 */

html, body {
	height: 100%;
	overflow-x: hidden;
	padding: 0;
}

.container {
	margin: 5px;
	padding: 0;
	width: auto;
}

textarea {
	width: 100%;
}

.mceIframeContainer iframe {
	width: 838px !important;
}