body {
	font:normal normal 14px Arial,Helvetica,sans-serif;
	margin: auto;
	color:#3F1E04;
}
h3 {
	margin:0 0 10px;
}
a {
	color:#459E00;
}
.edit {	
	position:absolute;
	top:3px;
	right:30px;
	display:block;
	margin:0 5px;
	width:16px;
	height:16px;
	text-indent:-999em;
	background:url(../../img/ico/reply.png) 0 0 no-repeat;
}
.clear,
form br {
	clear:both;
	display:block;
	height:1px;
	font-size:1px;
	line-height:1px;
}
.message {
	position:relative;
	font-size:1.2em;
}
.message,
fieldset {
	position:relative;
	border:0;
	width:500px;
	padding:10px;
	background:#F5F3E5;
	/*/!\*/
	border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
fieldset.basic,
fieldset.more {
	margin:0 0 10px;
	border-bottom:1px solid #dedede;
}
fieldset.button {
	position:relative;
	width:515px;
	height:35px;
	padding:0;
	background:#fff;
}
	fieldset.button button {
		position:absolute;
		top:0;
	}
	fieldset.button button.modify {
		left:0;
	}
	fieldset.button button.delete {
		right:0;
	}
label,
input,
textarea {
	float:left;
}
label {
	margin:0 5px 0 0;
	width:100px;
}
input,
textarea {
	margin:0 10px 10px 0;
	border:1px solid #bebebe;
	background:#fff;
}
input {
	width:355px;
	height:20px;
}
input.short {
	width:120px;
}
textarea {
	width:460px;
}